@layout('layouts/base')

@section('styles')
@entryPointStyles('pages/errors')
@endsection

@section('body')
<main id="errors">
  <section class="box">
    <h1 class="title">{{ title }}</h1>
    <p class="description">{{ description }}</p>
    <div class="actions">
      <a href="{{ route('base.home')}}" class="back-link">
        <i class="fas fa-arrow-left"></i>
        Revenir  la page d'accueil
      </a>
    </div>
  </section>
</main>
@endsection
