@layout('layouts/base')

@section('styles')
@entryPointStyles('pages/errors')
@endsection

@section('body')
<main id="errors">
  <section class="box">
    <h1 class="title">Vous avez été bannis du site</h1>
    <p class="description">Si vous pensez que ce bannissement n'est pas justifié, merci de contacter un administateur sur le discord.</p>
  </section>
</main>
@endsection
