#navbar {
  @apply bg-gradient-to-b from-blue-600 to-blue-500 text-white sticky z-10;

  .nav-container {
    @apply flex flex-col p-4;

    @screen md {
      @apply flex-row;
    }

    .logo-link {
      @apply flex flex-row items-center justify-center mb-8;

      @screen md {
        @apply justify-start mb-0;
      }

      .logo-container {
        @apply mr-4 h-16 w-16;
      }

      .title-container {
        @apply uppercase font-bold text-2xl whitespace-nowrap;
      }
    }

    .menubar {
      @apply flex-1 flex flex-col justify-end;

      @screen md {
        @apply flex-row items-center;
      }

      a,
      button {
        @apply ml-3 py-1 uppercase transition-colors duration-75 rounded-lg p-2;

        &:hover,
        &.active {
          @apply bg-white bg-opacity-25;
        }
      }

      .discord-btn {
        @apply w-auto #{!important};
        @apply ml-3 w-auto uppercase py-2 bg-white text-discord;

        &:hover {
          @apply bg-gray-200;
        }
      }
    }

    .navbar-dropdown {
      @apply relative ml-3 py-1 uppercase cursor-pointer;

      span {
        &:focus {
          @apply outline-none;
        }

        .avatar {
          @apply rounded-full w-8 h-8 inline-block mx-2;
        }

        i {
          @apply ml-2;
        }
      }

      .dropdown {
        @apply absolute bg-white shadow rounded-sm right-0 top-0 mt-10 hidden;

        li {
          @apply text-blue-500 px-4 py-2 list-none text-right;
          &:hover {
            @apply bg-gray-200;
          }

          a {
            @apply m-0 leading-6 inline-block whitespace-nowrap;

            i {
              @apply ml-1;
            }

            &:hover {
              @apply bg-transparent;
            }
          }
        }
      }

      &:hover .dropdown {
        @apply block;
      }
    }
  }
}
