@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

.checkbox-field {
  @apply flex items-center;

  input.checkbox {
    @apply mr-2 appearance-none bg-white h-6 w-6 border border-gray-300 rounded-md;

    &:checked {
      @apply bg-blue-500 border-transparent relative;

      @extend %fa-icon;
      @extend .fas;

      &::before {
        @apply absolute text-white w-4 h-4 left-1 top-1;

        content: fa-content($fa-var-check);
      }
    }

    &:focus {
      @apply outline-none;
    }

    &:disabled {
      @apply bg-gray-200;
    }
  }

  input.checkbox + .label {
    @apply text-sm text-gray-700 select-none;
  }
}

.dark .checkbox-field input.checkbox {
  @apply bg-gray-900 border-gray-700;

  &:disabled {
    @apply bg-gray-700;
  }

  & + label {
    @apply text-gray-300;
  }
}
