@layout('layouts/base')

@section('styles')
  @entryPointStyles('pages/home')
@endsection

@section('body')
<main id="home" class="app-body">
  <h1>Accueil</h1>
</main>

@include('partials/footer')
@endsection
